html, body {
    padding: 0;
    margin: 0;
}

.content.centered {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #DDDDDD;
    height: 8px;
    -webkit-transition: opacity 0.75s ease;
    -moz-transition: opacity 0.75s ease;
    -ms-transition: opacity 0.75s ease;
    -o-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #DDDDDD;
    border: none;
}

progress[value]::-webkit-progress-value, progress[value]::-moz-progress-bar {
    background-color: #2196F3;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#main-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#url-bar-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0D47A1;
}

#url-form {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EEE;
    border-radius: 8px;
    width: 100%;
}

#url-bar {
    background: none;
    outline: none;
    border: none;
    color: #212121;
    width: 100%;
}

#url-bar::placeholder {
    color: #303030;
    margin-left: 4px;
}

#home-button {
    color: white;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#url-enter {
    color : #212121;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

button {
    cursor: pointer;
}