ul.site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li.site-item {
    display: inline-block;
}

.site-item button {
    background: none;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#more-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0D47A1;
}

#more-info button {
    background: #FAFAFA;
    outline: none;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: 32px;
    margin: 12px;
}

#bing-search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #212121;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
}

#bing-search-query {
    background: none;
    border: none;
    outline: none;
    min-width: 128px;
    margin-left: 8px;
}

#bing-search-enter {
    background: none;
    border: none;
    outline: none;
    color: #2196F3;
    cursor: pointer;
}