ul.site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.site-item {
    display: block;
}

.site-item button {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#more-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0D47A1;
}

#more-info button {
    background: #FAFAFA;
    outline: none;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: 32px;
    margin: 12px;
}